.container {
    width:80%;
    display: grid;
    grid-template-areas:
    "title title"
    "image content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    padding: 5px;
    margin: 2rem auto auto;
}

img {
    border-radius: 50%;
}

img:hover {
    filter: drop-shadow(0 0 2em #D6EFD8);
}

.container > div {
    padding: 10px;
}
.container > div.title {
    grid-area: title;
    text-align: center;
}
.container > div.image {
    grid-area: image;
}
.container > div.content {
    text-align: center;
    grid-area: content;
}
.container > div.footer {
    grid-area: footer;
    text-align: center;
}
