.header {
    display: flex;
    justify-content: center;
    height: 3rem;
}

.icons {
    padding-top: 2rem;
    margin: 2rem;
}

.icons #light {
    color: #1A5319;
}

.icons:hover {
    color: #D6EFD8;
}
