.logo:hover {
  filter: drop-shadow(0 0 2em #80AF81);
}
.image:hover {
  filter: drop-shadow(0 0 2em #80AF81);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#light {
  background-color: #D6EFD8;
  color: #1A5319;
}

#light .icons {
  color: #1A5319;
}

#light .icons:hover {
  color: #80AF81;
}

#dark {
    background-color: #065508;
}

.switch {
  display: flex;
    justify-content: center;
    align-items: center;
  width: 100px;
  height: 10px;
}
